
<nav class="fixed bg-gray-100 w-64 border border-r-gray-200 min-h-screen flex-col gap-3 hidden md:block">
    <div class="w-10 md:w-20 rounded-md bg-blue-100 p-2">
        <img src="LogoCCD.png" alt="logo de la empresa ccd" class="w-full object-contain">
    </div>
    <hr>
    <ul class=" flex flex-col gap-2 px-4">
        <li class="my-4">
            <div class="flex gap-2">
                <button class="bg-blue-600 hover:bg-blue-500 w-full text-white px-4 py-2 rounded-xl font-medium flex items-center justify-center gap-2">
                    <svg class="w-5 h-full text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v9m-5 0H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2M8 9l4-5 4 5m1 8h.01"/>
                      </svg>
                      
                    Subir</button>
                <button class="bg-white hover:bg-gray-100 w-12 text-black rounded-xl font-medium border border-gray-200">+</button>
            </div>    
        </li>
        <li>
            <a 
            class="flex items-center justify-start gap-2 text-white font-medium pl-2 bg-blue-600 rounded-xl h-10"
            routerLink="/files"
            >
                <svg class="w-5 h-full" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
                </svg>
                Home
            </a>
        </li>
        <li>
            <a 
            class="flex items-center justify-start gap-2 text-white font-medium pl-2 bg-blue-600 rounded-xl h-10"
            routerLink="login"
            >
                <svg class="w-5 h-full" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
                </svg>
                Home
            </a>
        </li>
    </ul>
</nav>
