/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
    user-select: none; /* Evita la selección de texto */
    -webkit-user-select: none; /* Para navegadores basados en WebKit (Chrome, Safari) */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para Edge y versiones antiguas de IE */
  }