.context-menu {
    position: absolute;
    z-index: 50;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    width: 150px;
  }


  .selection-box {
    @apply absolute border-2 border-blue-500 bg-blue-200 bg-opacity-30 pointer-events-none;
  }
  .altura{
    height: calc(100vh - 10rem);
  }