.context-menu {
    position: absolute;
    z-index: 50;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    width: 150px;
  }


  .selection-box {
    @apply absolute border-2 border-blue-500 bg-blue-200 bg-opacity-30 pointer-events-none;
  }
  .altura{
    height: calc(100vh - 10rem);
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 150px;
  }
  
  .tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
    white-space: nowrap;
    z-index: 5000 ;
    top: 100%; /* puede ajustar según tu diseño */
    left: 0;
    transform: translateY(5px);
  }
  